.simple-tabs .tab-button {
  display: inline-block;
  position: relative;
  bottom: -1px;
  padding: 5px 10px;
  cursor: pointer;
}

.simple-tabs .tab-button.active {
  border: 1px solid gray;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 0 0;
}

.simple-tabs .tab-content {
  display: none;
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  width: 200px;
}

.simple-tabs .tab-content.active {
  display: block;
}